In [75]:
# finding the 1st index of the tuple
(1,2,3)[-0]

1

In [3]:
(1,2,3)[-0,0]

TypeError: tuple indices must be integers or slices, not tuple

In [4]:
(1,2,3)[-0:0]

()

In [5]:
numbers = [2,4,6,8]

In [76]:
#finding the first index of numbers
numbers[0]

23

In [78]:
#finding the last index of numbers
numbers[-1]

4

In [79]:
#inserting variable on list
numbers.append(10)

In [80]:
#checking if works
numbers

[23, 19, 17, 13, 11, 7, 5, 3, 1, 4, 10]

In [10]:
x = [12,14,16]

In [11]:
numbers + x

[2, 4, 6, 8, 10, 12, 14, 16]

In [12]:
type(_)

list

In [13]:
numbers = [1,3,5,7,11,13,17,19,23]

In [14]:
numbers.reverse()

In [15]:
numbers

[23, 19, 17, 13, 11, 7, 5, 3, 1]

In [16]:
names = ["Zofia", "Alex", "Morgan", "Anthony"]

In [17]:
names.sort()

In [18]:
names

['Alex', 'Anthony', 'Morgan', 'Zofia']

In [19]:
names.reverse()

In [20]:
names

['Zofia', 'Morgan', 'Anthony', 'Alex']

In [21]:
sorted_names = sorted(names)

In [22]:
names

['Zofia', 'Morgan', 'Anthony', 'Alex']

In [23]:
sorted_names

['Alex', 'Anthony', 'Morgan', 'Zofia']

In [24]:
len(names)

4

In [25]:
x = [1,2,3]

In [26]:
numbers.append(4)

In [27]:
x

[1, 2, 3]

In [28]:
x = (1,2,3)

In [29]:
x.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [30]:
x[4] = 4

TypeError: 'tuple' object does not support item assignment

In [31]:
x(4)= 4

SyntaxError: can't assign to function call (<ipython-input-31-871ae59ca2e2>, line 1)

In [32]:
x.sum()

AttributeError: 'tuple' object has no attribute 'sum'

In [33]:
sum(x)

6

In [34]:
type(2,)

int

In [35]:
type((2,))

tuple

In [36]:
S ="Python"

In [37]:
len(S)

6

In [38]:
S[0]

'P'

In [39]:
S[0:3]

'Pyt'

In [40]:
S[-3:]

'hon'

In [41]:
"y" in S

True

In [42]:
12 + 12

24

In [43]:
"HELLO" + "WORLD"

'HELLOWORLD'

In [44]:
S= "Python"

In [45]:
3*S

'PythonPythonPython'

In [46]:
"eight equals" + 8

TypeError: can only concatenate str (not "int") to str

In [47]:
"eight equals" + str(8)

'eight equals8'

In [48]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [49]:
str.replace?

In [50]:
name = "Tina Fey"

In [51]:
name.replace("T", "f")

'fina Fey'

In [52]:
new_name = name.replace("T", "f")

In [53]:
new_name

'fina Fey'

In [54]:
types(names)

NameError: name 'types' is not defined

In [55]:
type(name)

str

In [56]:
names = name.split(" ")

In [57]:
types(names)

NameError: name 'types' is not defined

In [58]:
type(names)

list

In [59]:
len(names)

2

In [60]:
names[0]

'Tina'

In [61]:
names[0]

'Tina'

In [62]:
"".join([str(i) for i in range(10)])

'0123456789'

In [63]:
str(range(10))

'range(0, 10)'

In [64]:
x = "125.000"

In [65]:
x is string

NameError: name 'string' is not defined

In [66]:
x is str

False

In [67]:
x == str

False

In [68]:
x.digits = True

AttributeError: 'str' object has no attribute 'digits'

In [69]:
x.digits

AttributeError: 'str' object has no attribute 'digits'

In [70]:
word = "paralelepipedo"
letters = set(word)
len[letters]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [71]:
word

'paralelepipedo'

In [72]:
len(letters)

8

In [74]:
x

{1, 2, 3}

In [81]:
y= {2,3,4}

In [82]:
x in y

False

In [83]:
x & y

{2, 3}

In [84]:
x !& y

SyntaxError: invalid syntax (<ipython-input-84-972d799da843>, line 1)

In [85]:
x - y

{1}

In [86]:
x[0] | y[-1]

TypeError: 'set' object is not subscriptable

In [87]:
x in y

False

In [88]:
y-x

{4}

In [93]:
#check whether is not on yhe lists
x - y | y - x

{1, 4}

In [92]:
#creating a dictionary
age = {"Tim": 29, "Jim": 31, "Pam": 27, "Sam": 35}

In [91]:
age[0]

KeyError: 0